/*universal styles*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*percentages, vh and auto for responsivesness*/
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

html {
  font-family: 'Roboto';
  font-size: 13px;
}

section { 
  min-height: 100vh;
  width: 100%; 

  background-color: rgb(255, 255, 255);

  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 100px 0;
}

.container{
  width: 100%;
  height: auto;
  max-width: 1000px; /*prevents overscaling*/
  margin: 0 auto;
}

.brand-name {
  font-size: 48px;
  color: black;

  margin-bottom: 30px;
  text-align: center;
}

form {
  width: 100%;
  max-width: 400px;
  margin: 20px auto; /*commas are bad*/
  background-color: rgb(240, 240, 240);
  border: none;
  border-radius: 4px; /*goes here, not blocked by background color*/
}

form input {
  width: 90%; /*space for icon*/
  background-color: transparent; /*ensures form-declared border isn't covered*/
  padding: 10px;
  border: none;
  outline: none;
  font-size: 18px;
  display: inline-block;
  
}

form ion-icon {
  width: 9%;
  height: 3.5vh;
  vertical-align: middle;
  margin-bottom: 5px;
  color: rgb(75, 75, 75);
  
}

.search-result {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}




