.container.initial .brand-name {
  font-size: 72px;
}

.container.initial form {
  max-width: 800px;
}
  
.container.initial form input{
  padding: 20px;
  font-size: 27px
}


@media (max-width: 768px) {
  .search-results {
    grid-gap: 10px;
  }
  .container.initial .brand-name {
    font-size: 48px;
  }
  .container.initial form {
    max-width: 500px;
  }
  .container.initial form input {
    padding: 10px;
    font-size: 18px;
  }
  
}



