/*percentages, vh and auto for responsivesness*/


.brand-name {
  font-size: 48px;
  color: black;

  margin-bottom: 30px;
  text-align: center;
}

.brand-Url {
  text-decoration: none;
  color: unset;
}

.brand-Url:hover {
  text-decoration: none;
  color: unset;
}