/*percentages, vh and auto for responsivesness*/

section { 
  min-height: 100vh;
  width: 100%; 
  background-color: rgb(255, 255, 255);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  padding: 50px 0;
}

.container{
  width: 100%;
  height: auto;
  max-width: 1700px; /*decides the max amount of space elements are in per row*/
  margin: 0 auto;
}

.brand-name {
  font-size: 48px;
  color: black;

  margin-bottom: 30px;
  text-align: center;
}

.brand-Url {
  text-decoration: none;
  color: unset;
}

form {
  width: 100%;
  max-width: 400px;
  background-color: rgb(240, 240, 240);
  margin: 20px auto; /*commas are bad*/
  border: none;
  border-radius: 4px; /*goes here, not blocked by background color*/
}

form input {
  width: 90%; /*space for icon*/
  background-color: transparent; /*ensures form-declared border isn't covered*/
  font-size: 18px;

  padding: 10px;
  display: inline-block;
  border: none;
  outline: none;  
}

form ion-icon {
  width: 8%; /*guarantee responsiveness*/
  height: 3.5vh;
  color: rgb(75, 75, 75);
  vertical-align: middle;
  margin-bottom: 5px;
  cursor: pointer;
  clip-path: rect(0 29px 28px 4px);
  
}