.popup {
  position: fixed;
  font-size: 16px;
  top: 50%;
  left: 50%; /*centers the left corner of the popup*/
  transform: translate(-50%, -55%) scale(0); 
  border: 2px solid #49B618;
  background-color: #2a2a2a;
  color: white;
  border-radius: 10px;
  z-index: 10; 
  width: 500px;
  max-width: 90%;
  max-height: 82vh;
  overflow-y: auto;

  transition: 0.2s ease-in-out;
}

.popup.active {
  transform: translate(-50%, -55%) scale(1);
}

.popup-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  
}

.popup-header .title, .diet, .dairyFree, .cookingTime {
  font-size: 1.3rem;
  font-weight: 500;
  transition: font-size 0.3s ease-in-out;
}

@media (max-width: 470px) {
  .popup-header .title, .diet, .dairyFree, .cookingTime {
    font-size: 1.05rem;
    
  }
}

.popup-header .diet:empty, .dairyFree:empty, .cookingTime:empty {
  display: none;
}


.popup-header .close-button{
  cursor: pointer;
  border: none;
  background: none;
  border: none;
  color: #49B618;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  font-weight: 500;
}

.popup-body {
  padding: 15px 12px;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transition: 0.2s ease-in-out;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.pop-recipe-title {
 text-align: center
}

.pop-info-header {
margin: 7px 0 10px 0;
padding: 0 15px;
}

.pop-list {
margin-left: 13px;
line-height: 2rem;
padding: 0 15px;
}

.pop-list li {
  margin-bottom: 5px;
  
}