.search-results, .favorites {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-gap: 30px;
  grid-template: auto / repeat(auto-fit, minmax(320px, 1fr)); 
  justify-items :center;
  
  
}

.item {
  width: 100%;
  height: 100%;
  max-width: 900px;
  border-radius: 8px;
  background-color: #2a2a2a; /* Dark card background */
  padding: 15px;
  overflow: hidden;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: transform 0.3s ease-in-out;
}

.item:hover {
  transform: translateY(-4px);
}

.item > div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

img {
  width: 100%;
  height: 400px;
  border-radius: 4px;
  object-fit: cover;
  display: block;
}

.favorite-button {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 20px;
  position: absolute;
  top: 25px;
  right: 25px;
  background-color: rgb(50, 50, 50);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1px;

  cursor: pointer;
  
}


.item ion-icon {
  font-size: 2rem;
  color: #49B618;
  
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

@keyframes bounce {
  0% { transform: scale(1); }
  30% { transform: scale(1.2); } 
  50% { transform: scale(0.9); } 
  70% { transform: scale(1.1); }
  100% { transform: scale(1); } 
}


.item ion-icon.bounce {
  animation: bounce 0.4s ease-in-out;
}


.flex-result-info {
  vertical-align: middle;
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  flex-direction: row; 
  gap: 10px;
}

.flex-result-info:first-of-type {
  margin: 10px 0 15px 0;
}

.flex-result-bottom {
  margin-top: auto; 
}

.item .title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}

.item .title-Url {
  text-decoration: none;
  color: #FFFFFF;
}

.item .title-Url:hover {
  text-decoration: none;
  color: #49B618;
}


.recipe-button, .steps-button, .nutrition-button {
  color: #1E1E1E;
  background-color: #49B618;
  font-size: 17px; 
  font-weight: 500;

  min-width: 100px;
  height: auto;
  padding: 8px 15px;
  border-radius: 6px;

  text-decoration: none;
  text-align: center;
  align-self: flex-start;

  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.08);

  transition: background-color 0.3s, transform 0.2s ease;
  cursor: pointer;
}

.recipe-button:hover, .steps-button:hover, .nutrition-button:hover{
  background-color: #009200;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
}

.recipe-button:active, .steps-button:active .nutrition-button:active{
  opacity: 0.6;
}

