.footer {
  display: flex;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid black;
}

.footer .home-bar, .favorites-bar {
  border: none;
  flex: 1;
  cursor: pointer;
}

