.footer {
  display: flex;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  
}

.footer .home-bar {
  flex: 1;
  cursor: pointer;
}

.footer .favorites-bar {
  flex: 1;
  cursor: pointer;
}