section {
  min-height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.container {
  width: 100%;
  height: auto;
  padding: 0 20px;
  margin: auto;
  
  background-color: black;
}

.search-form {
  width: 100%;
  max-width: 400px;
  position: relative;
  margin: 20px auto;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.search-form input {
  width: 100%;
  font-size: 16px;
  padding: 14px 48px 14px 16px;
  border: none;
  border-radius: 30px;
  background-color: #1E1E1E;
  color: white;
  transition: border-color 0.3s, background-color 0.3s;
}

.search-form input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(70, 199, 11, 1);
}

.search-form .icon-button {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-form .search-icon {
  font-size: 20px;
  color: #49B618;
  transition: transform 0.2s, color 0.3s, top 0s;
}

.search-form .search-icon:hover {
  color: #009200;
  transform: translateY(-50%);
  top: 50%;
  
}

.search-form .search-icon:active {
  animation: bounce 0.3s ease-in-out;
}